<h2>Welcome to Josh's Prime Number Finder</h2>

<h3>Statistics</h3>
<table border="0">
	<tr>
		<td>Number of Primes found</td><td><%= @number_of_primes %></td>
	</tr><tr>
		<td>Total Runtime</td><td><%= @total_runtime %></td>
	</tr>
</table>

<h3>Highest Prime So Far</h3>
<table border="0">
	<tr>
		<td>The Prime</td><td><%= @highest_prime %></td>
	</tr><tr>
		<td>Time it too to find it</td><td><%= @highest_runtime %></td>
	</tr>
</table>
